
.channels-list {
    height: 100vh;
    width: 240px;
    background: #595160;
    z-index: 1;
}



.channels-list--title {
    height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    box-shadow: 0 1px 0 rgba(4,4,5,0.2), 0 1.5px 0 rgba(6,6,7,0.05), 0 2px 0 rgba(4,4,5,0.05);
}

.channels-list--wrapper {
    height: calc(100vh - 48px);
    overflow-y: scroll;
    scrollbar-width: 3px;
    padding-top: 16px;
}

/* .channels-list--wrapper::-webkit-scrollbar:window-inactive{
    width: 0;
} */

.channels-list--wrapper::-webkit-scrollbar {
    width: 12px;
}
 
.channels-list--wrapper::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
 
.channels-list--wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:rgba(41, 41, 41, 0.8); 
}

.channel-box {
    height: 32px;
    margin-left: 8px;
    padding: 0 8px;
    border-radius: 4px;
    color: rgb(250, 250, 250);
    cursor: pointer;
    margin-bottom: 2px;
    display: flex;
    align-content: center;
}

.channel-box:hover {
    background: #6f6678;
}

.channel-box--icon {
    display: block;
    margin-right: 6px;
    color: #857a90;
    height: 100%;
    width: 20px;
    height: 24px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.channel-box--main {
    display: flex;
    align-items: center;
    

}