.close-button {
  font-size: 1.3rem;
  font-weight: bold;
  color: #37333c;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

.ReactModal__Content {
  height: 200px;
  width: 390px;
  scrollbar-width: none;
  transition: height 150ms ease-in, width 200ms ease-in-out;
}

.ReactModal__Content--after-open {
  height: 330px;
  width: 400px;
  overflow: hidden;
}

.create-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.create-button img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.join-button {
  text-align: center;
  margin-top: 0.8em;
  padding: 10px 5px;
  width: 100%;
  background-color: #37333c;
  color: #d8d8d8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-button:hover,
.submit-button:hover {
  background-color: #211e24;
}

.back-button {
  border: none;
  padding: 10px 5px;
  cursor: pointer;
}

.submit-button {
  margin-left: auto;
  border: none;
  cursor: pointer;
  padding: 10px 5px;
  background-color: #6f6678;
  border-radius: 5px;
  color: #d8d8d8;
}

/* <a href='https://www.freepik.com/vectors/food'>Food vector created by catalyststuff - www.freepik.com</a> */

.reverse-enter {
  opacity: 0;
  transform: translateX(100%);
}
.reverse-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.forward-exit {
  opacity: 1;
  transform: translateX(0%);
}
.forward-exit-active {
  opacity: 0;
  transform: translateX(-100%);
}
.forward-enter-active,
.forward-exit-active,
.reverse-enter-active,
.reverse-exit-active {
  transition: opacity 250ms, transform 250ms;
}

.forward-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.forward-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.reverse-exit {
  opacity: 1;
  transform: translateX(0%);
}
.reverse-exit-active {
  opacity: 0;
  transform: translateX(100%);
}
