.close-button {
  font-size: 1.3rem;
  font-weight: bold;
  color: #37333c;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

.ReactModal__Content {
  height: 200px;
  width: 390px;
  scrollbar-width: none;
  transition: height 150ms ease-in, width 200ms ease-in-out;
}

.ReactModal__Content--after-open {
  height: 330px;
  width: 400px;
  overflow: hidden;
}

.create-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-button img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.join-button {
  text-align: center;
  margin-top: 0.8em;
  padding: 10px 5px;
  width: 100%;
  background-color: #37333c;
  color: #d8d8d8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-button:hover {
  background-color: #211e24;
}

/* <a href='https://www.freepik.com/vectors/food'>Food vector created by catalyststuff - www.freepik.com</a> */
